* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fdcc04;

}

nav {
    height: 80px;
    background-color: #fdcc04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    display: flex;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.hero {
    background: #fdcc04;


}

/* first section */

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

/* buttons style */
button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    border-radius: 50px;

}

button:hover {
    background: #FfF;
    color: #000;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 80%;
    height: 80%;

}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }

}

/* Second section */
section .one {
    height: 125vh;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;


}

.one {
    background-color: #fdcc04;
}

.cointainer1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.img1 {
    width: 30%;
    height: 30%;
}

.text {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}



/* style for ifile tower */
.img2 {
    width: 10%;
    height: 10%;
}

.img0 {
    width: 25%;
    height: 25%;

}

/* search section */
.container {
    background-color: blue yellow;
    width: 70vw;
    height: 100vh;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 245vh;
    /* Adjust this value */
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button {
    font-size: 1em;
    background-color: #000;
    color: #fdcc04;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}

.search-wrapper button:hover {
    background-color: #fff;
    color: #000;

}

.search {
    background: #1DA1F2;
}

.search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
}